{% extends "layout.html" %}

{% block main %}

<div class="categories p-3" id="places">
    <a href="{{ url_for('category', name='all-places') }}" class="category-link px-sm-1 px-md-2 px-lg-3 px-xl-4 all-places">All places</a>
    <a href="{{ url_for('category', name='points-of-interest') }}" class="category-link px-sm-1 px-md-2 px-lg-3 px-xl-4 points-of-interest">Points of Interest</a>
    <a href="{{ url_for('category', name='historic-sites') }}" class="category-link px-sm-1 px-md-2 px-lg-3 px-xl-4 historic-sites">Historic Sites</a>
    <a href="{{ url_for('category', name='museums') }}" class="category-link px-sm-1 px-md-2 px-lg-3 px-xl-4 museums">Museums</a>
    <a href="{{ url_for('category', name='parks') }}" class="category-link px-sm-1 px-md-2 px-lg-3 px-xl-4 parks">Parks</a>
    <a href="{{ url_for('category', name='hotels') }}" class="category-link px-sm-1 px-md-2 px-lg-3 px-xl-4 hotels">Hotels</a>
    <a href="{{ url_for('category', name='restaurants') }}" class="category-link px-sm-1 px-md-2 px-lg-3 px-xl-4 restaurants">Restaurants</a>
</div>
<div >
    <h3 id="category-title">{{ name }}</h3>
    <div class="container-xxl">
        <div class="row row-cols-auto justify-content-center">
            {% for sight in sights %}
            <div class="card p-0 m-4">
                <div class="card_image" style="background-image: url('../static/sights/{{ sight[0] }}.jpg');"></div>
                <div class="card_name ps-2 pt-2">{{ sight[1] }}</div>
                <form class="card_form" action="/card" method="post">
                    <input name="sight" value="{{ sight[0] }}" hidden />
                    <button class="stretched-button stretched-link ps-2" type="submit">{{ sight[4] }}</button>
                </form>
                <p class="location">📍{{ sight[2] }}</p>
                <form action="/favourite" method="post">
                    <input name="index" value="{{ sight[0] }}" hidden />
                    <button class="stretched-link favourite" type="submit" autocomplete="off">
                        {{ sight[3] }}
                        {% if sight[0] in favourites %}
                        <i class="fa-solid fa-star favourited"></i>
                        {% else %}
                        <i class="fa-solid fa-star"></i>
                        {% endif %}
                    </button>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}