{% extends "layout.html" %}

{% block main %}
<div id="screensaver"></div>

<div class="categories p-3" id="places">
    <a href="{{ url_for('category', name='all-places') }}" class="category-link px-sm-1 px-md-2 px-lg-3 px-xl-4"><b>All places</b></a>
    <a href="{{ url_for('category', name='points-of-interest') }}" class="category-link px-xl-4 px-sm-1 px-md-2 px-lg-3">Points of interest</a>
    <a href="{{ url_for('category', name='historic-sites') }}" class="category-link px-xl-4 px-sm-1 px-md-2 px-lg-3">Historic Sites</a>
    <a href="{{ url_for('category', name='museums') }}" class="category-link px-xl-4 px-sm-1 px-md-2 px-lg-3">Museums</a>
    <a href="{{ url_for('category', name='parks') }}" class="category-link px-xl-4 px-sm-1 px-md-2 px-lg-3">Parks</a>
    <a href="{{ url_for('category', name='hotels') }}" class="category-link px-xl-4 px-sm-1 px-md-2 px-lg-3">Hotels</a>
    <a href="{{ url_for('category', name='restaurants') }}" class="category-link px-xl-4 px-sm-1 px-md-2 px-lg-3">Restaurants</a>
</div>
<div>
    <h3>
        All places
    </h3>
    <div class="container-xxl">
        <div class="row row-cols-auto justify-content-center">
            {% for sight in sights%}
            <div class="card p-0 m-4">
                <img loading="lazy" class="card_image" src="./static/sights/{{ sight[0] }}.jpg" alt="{{ sight[1] }}">
                <div class="card_name ps-2 pt-2">{{ sight[1] }}</div>
                <a href="/card/{{ sight[0] }}" class="stretched-button stretched-link ps-2" type="submit">{{ sight[4] }}</a>
                <p class="location">📍{{ sight[2] }}</p>
                <form action="/favourite" method="post">
                    <input name="index" value="{{ sight[0] }}" hidden />
                    <button class="stretched-link favourite" type="submit" autocomplete="off">
                        {{ sight[3] }}
                        {% if sight[0] in favourites %}
                        <i class="fa-solid fa-star favourited"></i>
                        {% else %}
                        <i class="fa-solid fa-star"></i>
                        {% endif %}
                    </button>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}