{% extends "layout.html" %}

{% block main %}
    <section class="profile">
        <h3>User profile</h3>
        <div class="profile_line container-xl">
            <div class="row">
                <div class="col-sm-6 col">
                    <p>E-mail:</p>
                    <span>{{ user[2] }}</span>
                </div>
                <div class="col-sm-6">
                    <button class="btn">Change e-mail</button>
                </div>
            </div>
        </div>
        <div class="profile_line container-xl">
            <div class="row">
                <div class="col-sm-6 col">
                    <p>Username:</p>
                    <span>{{ user[1] }}</span>
                </div>
                <div class="col-sm-6">
                    <button class="btn">Change username</button>
                </div>
            </div>
        </div>
        <div class="profile_line container-lg">
            <div class="row">
                <div class="col-sm-6 col">
                    <div>
                        <p>Password:</p>
                        <span>.............</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <button class="btn">Change password</button>
                </div>
            </div>
        </div>
        <div class="profile_line container-md">
            <div class="row">
                <div class="col-sm-6 col">
                    <p>Log out from profile</p>
                </div>
                <div class="col-sm-6">
                    <form action="/logout" method="get">
                        <button class="btn" type="submit" autocomplete="off">Log out</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-5">
        <h3 class="profile-favourites">
            Favourite places
        </h3>
        <div class="container-fluid">
            <div class="row row-cols-auto justify-content-center">
                {% for sight in sights%}
                <div class="card p-0 m-4">
                    <div class="card_image" style="background-image: url('./static/sights/{{ sight[0] }}.jpg');"></div>
                    <div class="card_name ps-2 pt-2">{{ sight[1] }}</div>
                    <p>{{ sight[4] }}</p>
                    <p class="description">{{ sight[2] }}</p>
                    <form action="/favourite" method="post">
                        <input name="index" value="{{ sight[0] }}" hidden />
                        <button class="favourite" type="submit" autocomplete="off" >
                            {{ sight[3] }}
                            {% if sight[0] in favourites %}
                            <i class="fa-solid fa-star favourited"></i>
                            {% else %}
                            <i class="fa-solid fa-star"></i>
                            {% endif %}
                        </button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}