{% extends "layout.html" %}

{% block main %}
    <section class="profile">
        <h3>User profile</h3>
        <div class="profile_line container-xl">
            <div class="row">
                <div class="col-sm-6 col">
                    <p>E-mail:</p>
                    <span>{{ user[2] }}</span>
                </div>
                <div class="col-sm-6 mt-3 mt-md-0">
                    <button class="btn" data-bs-toggle="modal" data-bs-target="#emailChangeModal">Change e-mail</button>
                </div>
            </div>
        </div>
        <div class="profile_line container-xl">
            <div class="row">
                <div class="col-sm-6 col">
                    <p>Username:</p>
                    <span>{{ user[1] }}</span>
                </div>
                <div class="col-sm-6 mt-3 mt-md-0">
                    <button class="btn" data-bs-toggle="modal" data-bs-target="#usernameChangeModal">Change username</button>
                </div>
            </div>
        </div>
        <div class="profile_line container-lg">
            <div class="row">
                <div class="col-sm-6 col">
                    <div>
                        <p>Password:</p>
                        <span>.............</span>
                    </div>
                </div>
                <div class="col-sm-6 mt-3 mt-md-0">
                    <button class="btn" data-bs-toggle="modal" data-bs-target="#passwordChangeModal">Change password</button>
                </div>
            </div>
        </div>
        <div class="profile_line container-md">
            <div class="row">
                <div class="col-sm-6 col">
                    <p>Log out from profile</p>
                </div>
                <div class="col-sm-6 mt-3 mt-md-0">
                    <form action="/logout" method="get">
                        <button class="btn" type="submit" autocomplete="off">Log out</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-5">
        <h3 class="profile-favourites">
            Favourite places
        </h3>
        <div class="container-fluid">
            <div class="row row-cols-auto justify-content-center">
                {% for sight in sights%}
                <div class="card p-0 m-4">
                    <div class="card_image" style="background-image: url('./static/sights/{{ sight[0] }}.jpg');"></div>
                    <div class="card_name ps-2 pt-2">{{ sight[1] }}</div>
                    <form class="card_form" action="/card" method="post">
                        <input name="sight" value="{{ sight[0] }}" hidden />
                        <button class="stretched-button stretched-link ps-2" type="submit">{{ sight[4] }}</button>
                    </form>
                    <p class="location">{{ sight[2] }}</p>
                    <form action="/favourite" method="post">
                        <input name="index" value="{{ sight[0] }}" hidden />
                        <button class="stretched-link favourite" type="submit" autocomplete="off" >
                            {{ sight[3] }}
                            {% if sight[0] in favourites %}
                            <i class="fa-solid fa-star favourited"></i>
                            {% else %}
                            <i class="fa-solid fa-star"></i>
                            {% endif %}
                        </button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Change email modal -->
    <div class="modal fade form" id="emailChangeModal" tabindex="-1" aria-labelledby="emailModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="emailModalLabel">Change e-mail</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/changeEmail" method="post">
                        <div class="mb-3">
                            <label for="email-change" class="col-form-label pb-1">Enter new e-mail:</label>
                            <input autocomplete="off" autofocus required type="email" class="form-control" name="email" id="email-change">
                        </div>
                        <div class="mb-3">
                            <label for="email-confirmation" class="col-form-label pb-1">Repeat new e-mail:</label>
                            <input autocomplete="off" required type="email" class="form-control" name="confirmation" id="email-confirmation">
                        </div>
                        <hr class="mt-4 mb-3">
                        <div class="mb-2 text-end">
                            <button type="button" class="btn close-button rounded-3" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn rounded-3">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Change username modal -->
    <div class="modal fade form" id="usernameChangeModal" tabindex="-1" aria-labelledby="usernameModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="usernameModalLabel">Change username</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/changeUsername" method="post">
                        <div class="mb-3">
                            <label for="username-change" class="col-form-label pb-1">Enter new username:</label>
                            <input autocomplete="off" autofocus required type="text" class="form-control" name="username" id="username-change">
                        </div>
                        <hr class="mt-4 mb-3">
                        <div class="mb-2 text-end">
                            <button type="button" class="btn close-button rounded-3" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn rounded-3">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Change password modal -->
    <div class="modal fade form" id="passwordChangeModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="passwordModalLabel">Change password</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/change" method="post">
                        <div class="mb-3">
                            <label for="password-change" class="col-form-label pb-1">Enter new password:</label>
                            <input autocomplete="off" autofocus required type="password" class="form-control" name="password" id="password-change">
                        </div>
                        <div class="mb-3">
                            <label for="password-confirmation" class="col-form-label pb-1">Repeat new password:</label>
                            <input autocomplete="off" required type="password" class="form-control" name="confirmation" id="password-confirmation">
                        </div>
                        <hr class="mt-4 mb-3">
                        <div class="mb-2 text-end">
                            <button type="button" class="btn close-button rounded-3" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn rounded-3">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}